from fastapi import Depends

from .{{name__snake_case}}_use_case import (
    {{name__camel_case}}UseCase,
)


def get_{{name__snake_case}}_use_case() -> {{name__camel_case}}UseCase:
    return {{name__camel_case}}UseCase()


Get{{name__camel_case}}UseCase = Depends(get_{{name__snake_case}}_use_case)
