from src.fast_api_template.modules.shared.base_use_case import BaseUseCase

from .{{name__snake_case}}_dto import (
    {{name__camel_case}}DTO,
    {{name__camel_case}}ResponseDTO,
)


class {{name__camel_case}}UseCase(BaseUseCase[{{name__camel_case}}DTO, {{name__camel_case}}ResponseDTO]):

    def __init__(self) -> None:
        pass

    async def handle(self, dto: {{name__camel_case}}DTO) -> {{name__camel_case}}ResponseDTO:
        pass
